@media only screen and (max-height: 600px) {
	.main-text {
		font-size: 48px;
	}
}
@media only screen and (max-height: 500px) {
	.main-text {
		font-size: 36px;
	}
}
@media only screen and (max-height: 400px) {
	.main-text {
		font-size: 24px;
	}
}
@media only screen and (max-height: 300px) {
	.main-text {
		font-size: 16px;
	}
}
